* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
  }
  body {
    background-color: rgb(33, 37, 41);
  }
  .container {
    max-width: 1920px;
    margin: 0;
    padding: 0 250px;
  }
  a {
    text-decoration: none;
  }
  .box{
    margin: 0;
    padding:0 10rem;
  }